{% load bootstrap3 %}

{% bootstrap_css %}

{% load static %}
<link rel="stylesheet" href="{% static "imager_profile/styles.css" %}">
{% block bootstrap3_content %}
    <div class="container">
        <div class="page-header">
            <h1>Space Imager <small>The place for space photos</small></h1>
        </div>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="">Login</a></li>
            <li role="presentation"><a href="">Register</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">Go To Login Screen Here</a></li>
                <li><a href="#">Go to New User Registration here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Go Somewhere else</a></li>
              </ul>
            </li>
        </ul>
        {% block content %}{% endblock %}

    </div>

{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
{% bootstrap_javascript %}

